<div class="row">
	<div class="narrowdiv">
		<form id="registerform"  class="form-horizontal">
			<legend>Register</legend>
			<input id="email" type="text" placeholder="Email" required   class="form-control" /><br />
			<input id="username" type="text" placeholder="Username" required   class="form-control" /><br />
			<input id="password" type="password" placeholder="Password" required   class="form-control" /><br />
			<input id="passwordagain" type="password" placeholder="Retype Password" required    class="form-control" /><br />
			<button id="registersubmit" class="btn">register</button>
		</form>
		<a data-href="/#/" >I've done this bit already...</a>
	</div>
</div>