<div class="row">
	<form>
		<legend>Register</legend>
		<input id="email" type="text" placeholder="Email" required /><br />
		<input id="username" type="text" placeholder="Username" required /><br />
		<input id="password" type="password" placeholder="Password" required /><br />
		<input id="passwordagain" type="password" placeholder="Retype Password" required  /><br />
		<input id="registersubmit" type="submit" class="btn" value="register" />
	</form>
	<a href="/#/" >Already Registered? Login...</a>
</div>