@import "fonts.css";
@import "bootstrap.css";
@import "Site.css";
@import "forms.css";
@import "jquery-ui-1.10.2.custom.css";
@import "fullcalendar.css";
@import "fullcalendar.print.css";

.item-hidden
{
	display: none;
}

footer p 
{
	font-size: 0.8em;
}

#loadingicon img
{
    height: 40px;
    width: 40px;
    margin: 25px auto;
}
#loadingicon {
    clear: both;
    margin-top: 30px;
}

#contentlists, #contentitems, footer
{
	text-align: left;
    margin-bottom: 20px;
}

#contentitems
{
    max-width: 700px;
    float: left;
    width: 100%;
    margin-left: 20px;
}

#contentlists
{
    max-width: 200px;
    float: left;
    width: 100%;
}

.div-centered
{
	text-align: center;
}

.narrowdiv
{
	text-align: left;
	max-width: 280px;
	margin: 0px auto;
}

#loginform, #registerform, #forgottenform
{
	margin: 0px 0px 20px 0px;
}

/*
	Checkbox replacement
*/

input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

input[type=checkbox].css-checkbox + label.css-label:hover {
    background-position: 0 -30px;
}

.css-label{ background-image:url(../img/lite-x-gray-black.png); }

div.checkbox.loginpersist
{
	float: right;
	padding-left: 0px;
}

.item_text{
    display: inline-block;
    max-width: 350px;
}

.item_text_list
{
    float: left;
    clear: both;
}

.item_date
{
    float: right;
    max-width: 140px;
    margin-right: 25px;
}

.item_options
{
    float: right;
    width: 15px;
    margin-left: 10px;
}

.item_options_list
{
    float: right;
    width: 15px;
    margin-left: 10px;
    margin-top: 3px;
}

.item_options .glyphicon
{
    display: none;
}

#items-opened li:hover
{
    cursor: pointer;
    background: #ff0;
}


#items-opened li {
    padding: 3px;
    height: 23px;
}

#items-opened li.openforbusiness:hover
{
    background: #fff;
    height: auto;    
}


#items-opened li.openforbusiness
{
    height: auto;    
}

#items-opened, #lists
{
    padding: 0px;
    list-style-type: none;
}

#lists
{
    font-size: 0.9em;
}

#lists li
{
    overflow: auto;
}

#lists li#all
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

#lists li#all h4
{
    text-transform: uppercase;
    color: #ccc;
}

#items-opened li:hover .item_options .glyphicon
{
    display: inline-block;
    cursor: pointer;
}

#lists li:hover .item_options_list .glyphicon
{
    display: inline-block;
    cursor: pointer;
}

#items-opened li:hover .item_date
{
    margin-right: 0px;
}

#thelists h3
{
    clear: both;
    margin: 8px 0px 0px 0px;
}

#items-opened li #form-item
{
    margin-top: 10px;
}

#thelists h4
{
    font-size: 1.2em;
    text-transform: none;
    font-weight: 300;
    color: #555;    
    max-width: 170px;
    float: right;
    margin: 3px 0px !important;
    cursor: pointer;
}

#thelists i 
{
    width: 20px;
    float: left;
    display: none;
    margin: 6px 0px 0px 0px;
}

#thelists li:hover i 
{
    .display: inline-block;
    cursor: pointer;
}

#thelists li #form-update i
{
    width: 14px;
    display: block;
    float: right;
    margin: 1px 0px 0px 0px;
}

#thelists li #form-update span.distracted i
{
    clear: none;
    margin-right: 11px;
    margin-left: 5px;
}

#thelists li #form-update input.input-block-level.small
{
    max-width: 192px  !important;
}

#thelists li #form-update select.input-block-level.medium
{
    max-width: 117px  !important;
}

#thelists h4.allitemslink
{
    text-transform: uppercase;
}

#thelists h3 a.listareatitle
{
    cursor: pointer;
}

#filter
{
    text-align: center;
    padding: 10px 0px 1px 0px;
    display: inline-block;
    width: 100%;
    margin: 0px;
    margin: 0px 0px 5px 0px;
    overflow: auto;
}

#filtertext
{
    float: right;
    width: 34%;
    margin-right: 25px;
}

#addaction
{
    float: left;
    width: 60%;
    max-width: 408px;
    min-width: 200px;
}

#addaction.wide, #editaction.wide
{
    width: 97%;
    max-width: 700px;
}

#addlist, #theAreas
{
    float: left;
    width: 97%;
    max-width: 200px;
}

span.done-true
{
    text-decoration: line-through;
}

/* Add form */ 
#thelist
{
    float: left;
    max-width: 49%;
}

#duedate, .actionitemedit .theduedate {
    float: right;
    width: 48%;
    margin-right: 21px;
}

.additionalbuttons
{
    text-align: left;
}

.additionalbuttons button
{
    margin-bottom: 8px;
}

.overdue-true
{
    color: #f00;
    font-weight: bold;
}